@import "../styles/global";

// .container {
//   .content {
//     padding: 20px;

//     h1 {
//       margin-bottom: 30px;
//       line-height: 50px;
//     }

//     h2 {
//       margin-top: 30px;
//       margin-bottom: 30px;
//       line-height: 30px;
//     }

//     h3 {
//       margin-top: 30px;
//       margin-bottom: 30px;
//       line-height: 25px;
//     }

//     p {
//       margin-bottom: 10px;
//       font-size: 18px;
//       line-height: 30px;
//       text-align: justify;
//     }
//   }
// }
.article {
  background: var.$honeydew;
  @media only screen and (min-width: 72rem) {
    .articleHero__wrapper {
      padding-top: 90px;
    }
  }
  .articleHero__wrapper {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 100%;
  }
  @media only screen and (min-width: 72rem) {
    .articleHero__container {
      align-items: center;
      flex-direction: row;
      margin-bottom: 0;
      transition: margin-bottom .3s ease-out;
      width: 100%;
    }
  }
  .articleHero__container {
    display: flex;
  }
  .articleHero__media {
    padding-top: 80px;
    position: relative;
  }
  @include var.media("screen", ">maxWidth") {
    .articleHero__media {
      padding-top: 0;
      margin-right: 3.125%;
    }
  }
  .articleHero__text {
    position: relative;
    margin: 30px auto 60px;
    left: 0;
    opacity: 1;
    transition: left .3s ease-out .7s, opacity .3s ease-out .7s;
  }
  @include var.media("screen", ">bp1Width") {
    .articleHero__text {
      margin-bottom: 100px;
      margin-top: 40px;
    }
  }
}
