/* Root document */
:root {
  --color-black: black;
  --color-honeydew: #faf9f9;
  --font-platform: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  --font-sans-serif: "Raleway", var(--font-platform);
  --space0: 0;
  --space-quarter: 0.25rem;
  --space-half: 0.5rem;
  --space1: 1rem;
  --space2: 2rem;
  --space3: 3rem;
  --space4: 4rem;
  --space6: 6rem;
  --space8: 8rem;
  --width1: 8.33333%;
  --width2: 16.66667%;
  --width3: 25%;
  --width4-12: 33.33333%;
  --width5-12: 41.66667%;
  --width6-12: 50%;
  --width7-12: 58.33333%;
  --width8-12: 66.66667%;
  --width9: 75%;
  --width10: 83.33333%;
  --width11: 91.66667%;
  --width12: 100%;
}
/* =========================
  GLOBAL SETTINGS 
  ========================= */
// #__loader {
//   background-color: var.$black-olive;
//   svg {
//     width: 4rem;
//     height: auto;
//     rect {
//       fill: var.$mint;
//     }
//   }
// }

.width-constrained {
  max-width: var.$width-vw-2;
}

html,
body {
  font-family: var(--font-sans-serif);
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: normal;
  color: var(--color-black);
  background: var(--color-honeydew);
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  padding-right: 0px;
  padding-left: 0px;
  border: 0;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  vertical-align: baseline;
}
a {
  color: black;
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
.monospace {
  font-family: var.$font-monospace;
}
.sans-serif {
  font-family: var(--font-sans-serif);
}
/* TYPOGRAPHY
  ----------------------------- */
.display {
  font-family: var.$font-condensed;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: "calt" 0;
}
h1,
h2,
h3 {
  font-family: var.$font-condensed;
}
h4,
h5,
h6 {
  font-family: var(--font-sans-serif);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}
dl,
ol,
p,
ul {
  margin: 10px 0 0;
}
/* ==[ Font Size ]== */
h1 {
  font-size: 2rem;
  font-weight: 700;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 1rem;
}
h5 {
  font-size: 0.875rem;
}
.big {
  font-size: 0.9rem;
}
h1.big,
.big h1 {
  font-size: 2.25rem;
}
h2.big,
.big h2 {
  font-size: 1.75rem;
}
h3.big,
.big h3 {
  font-size: 1.25rem;
}
h4.big,
.big h4 {
  font-size: 1rem;
}
h5.big,
.big h5 {
  font-size: 0.9rem;
}
.huge {
  font-size: 1rem;
}
h1.huge {
  font-size: 2.8rem;
}
h2.huge {
  font-size: 2rem;
}
h3.huge,
.huge h3 {
  font-size: 1.4rem;
}
h4.huge,
.huge h4 {
  font-size: 1.2rem;
}
h5.huge,
.huge h5 {
  font-size: 1rem;
}
.normal {
  font-size: 0.8rem;
}
.small {
  font-size: 11px;
}
.micro {
  font-size: 9px;
}
.medium {
  font-weight: 500;
}
.bold,
.strong {
  font-weight: 700;
}
.regular {
  font-weight: normal;
}
.uppercase {
  text-transform: uppercase;
}
/* ==[ Text Align ]== */
.center {
  text-align: center;
}
/* ==[ Line Height ]== */
.line-height-0 {
  line-height: 0;
}
.line-height-1 {
  line-height: 1;
}
.line-height-2 {
  line-height: 1.125;
}
.line-height-3 {
  line-height: 1.25;
}
.line-height-4 {
  line-height: 1.5;
}
.line-height-5 {
  line-height: 1.6;
}
.line-height-6 {
  line-height: 1.8;
}
/* COLOR
  ----------------------------- */
.white {
  background-color: var.$white;
}
.honeydew {
  background-color: var.$honeydew;
}
.offblack {
  background-color: var.$black-olive;
}
/* Margin
========================================================================== */
.mb-half {
  margin-bottom: var.$space-half;
}
.mo {
  margin: var.$space0;
}
.mt0 {
  margin-top: var(--space0);
}
.mt1 {
  margin-top: var(--space1);
}
.mt2 {
  margin-top: var(--space2);
}
.mt4 {
  margin-top: var(--space4);
}
.mt6 {
  margin-top: var(--space6);
}
.mt8 {
  margin-top: var(--space8);
}
.m1 {
  margin: var.$space1;
}
.mr1 {
  margin-right: var.$space1;
}
.mb1 {
  margin-bottom: var.$space1;
}
.ml1 {
  margin-left: var.$space1;
}
.mx1 {
  margin-left: var.$space1;
  margin-right: var.$space1;
}
.my1 {
  margin-top: var.$space1;
  margin-bottom: var.$space1;
}
.m2 {
  margin: var.$space2;
}
.mr2 {
  margin-right: var.$space2;
}
.mb2 {
  margin-bottom: var.$space2;
}
.ml2 {
  margin-left: var.$space2;
}
.mx2 {
  margin-left: var.$space2;
  margin-right: var.$space2;
}
.my2 {
  margin-top: var.$space2;
  margin-bottom: var.$space2;
}
.m3 {
  margin: var.$space3;
}
.mb3 {
  margin-bottom: var.$space3;
}
.m4 {
  margin: var.$space4;
}
.mb4 {
  margin-bottom: var.$space4;
}
.ml4 {
  margin-left: var.$space4;
}
.mx4 {
  margin-left: var.$space4;
  margin-right: var.$space4;
}
.my4 {
  margin-top: var.$space4;
  margin-bottom: var.$space4;
}
.m5 {
  margin: var.$space5;
}
.mr5 {
  margin-right: var.$space5;
}
.mb6 {
  margin-bottom: var(--space6);
}
.ml5 {
  margin-left: var.$space5;
}
.mx5 {
  margin-left: var.$space5;
  margin-right: var.$space5;
}
.my5 {
  margin-top: var.$space5;
  margin-bottom: var.$space5;
}
.mbn1 {
  margin-bottom: var.$space1;
}
.mbn2 {
  margin-bottom: var.$space2;
}
.mbn3 {
  margin-bottom: var.$space3;
}
.mbn4 {
  margin-bottom: var.$space4;
}
.mbn5 {
  margin-bottom: var.$space5;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
/* || Negative margin */
.mtn6 {
  margin-top: calc(var(--space6) * -1);
}
.mln1 {
  margin-left: calc(var(--space1) * -1);
}
.mln2 {
  margin-left: calc(var(--space2) * -1);
}
.mln4 {
  margin-left: calc(var(--space4) * -1);
}
.mln8 {
  margin-left: -var(--space8);
}
.mxn-half {
  margin-left: calc(var(--space-half) * -1);
  margin-right: calc(var(--space-half) * -1);
}
.mxn1 {
  margin-left: calc(var(--space1) * -1);
  margin-right: calc(var(--space1) * -1);
}
.mxn2 {
  margin-left: calc(var(--space2) * -1);
  margin-right: calc(var(--space2) * -1);
}
.mxn4 {
  margin-left: calc(var(--space4) * -1);
  margin-right: calc(var(--space4) * -1);
}
.mxn6 {
  margin-left: calc(var(--space6) * -1);
  margin-right: calc(var(--space6) * -1);
}
.mxn8 {
  margin-left: calc(var(--space8) * -1);
  margin-right: calc(var(--space8) * -1);
}
/* Position
========================================================================== */
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}
.static {
  position: static;
}
.top-0 {
  top: 0;
}
.bottom-0 {
  bottom: 0;
}
.right-0 {
  right: 0;
}
.left-0 {
  left: 0;
}
.all-0 {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
/* Padding
========================================================================== */
.p0 {
  padding: var.$space0;
}
.pt0 {
  padding-top: var.$space0;
}
.pr0 {
  padding-right: var(--space0);
}
.pb0 {
  padding-bottom: var(--space0);
}
.pb1 {
  padding-bottom: var(--space1);
}
.pb2 {
  padding-bottom: var(--space2);
}
.pb3 {
  padding-bottom: var(--space3);
}
.pb4 {
  padding-bottom: var(--space4);
}
.pb5 {
  padding-bottom: var(--space5);
}
.pl0 {
  padding-left: var.$space0;
}
.px0 {
  padding-left: var.$space0;
  padding-right: var.$space0;
}
.py0 {
  padding-top: var.$space0;
  padding-bottom: var.$space0;
}
.p1 {
  padding: var(--space1);
}
.pt1 {
  padding-top: var.$space1;
}
.pr1 {
  padding-right: var.$space1;
}

.pl1 {
  padding-left: var.$space1;
}
.py1 {
  padding-top: var.$space1;
  padding-bottom: var.$space1;
}
.px1 {
  padding-left: var.$space1;
  padding-right: var.$space1;
}
.p2 {
  padding: var.$space2;
}
.pt2 {
  padding-top: var.$space2;
}
.pr2 {
  padding-right: var.$space2;
}
.pl2 {
  padding-left: var.$space2;
}
.py2 {
  padding-top: var.$space2;
  padding-bottom: var.$space2;
}
.px2 {
  padding-left: var.$space2;
  padding-right: var.$space2;
}
.p3 {
  padding: var.$space3;
}
.pt3 {
  padding-top: var.$space3;
}
.pr3 {
  padding-right: var.$space3;
}
.pl3 {
  padding-left: var.$space3;
}
.py3 {
  padding-top: var.$space3;
  padding-bottom: var.$space3;
}
.px3 {
  padding-left: var.$space3;
  padding-right: var.$space3;
}
.p4 {
  padding: var.$space4;
}
.pt4 {
  padding-top: var.$space4;
}
.pr4 {
  padding-right: var.$space4;
}
.pl4 {
  padding-left: var.$space4;
}
.py4 {
  padding-top: var.$space4;
  padding-bottom: var.$space4;
}
.px4 {
  padding-left: var.$space4;
  padding-right: var.$space4;
}

.p5 {
  padding: var.$space5;
}
.pt5 {
  padding-top: var.$space5;
}
.pr5 {
  padding-right: var.$space5;
}
.pl5 {
  padding-left: var.$space5;
}
.py5 {
  padding-top: var.$space5;
  padding-bottom: var.$space5;
}
.px5 {
  padding-left: var.$space5;
  padding-right: var.$space5;
}

.list-style-none {
  list-style: none;
}
.list-style-inherit {
  list-style-type: inherit;
}

/* ==[ Z-index ]== */
.z1 {
  z-index: 1;
}
.z2 {
  z-index: 2;
}
.z3 {
  z-index: 3;
}
.z4 {
  z-index: 4;
}
/* ==[ Border ]== */
.border {
  border-style: solid;
  border-width: 1px;
}
.border-thickish {
  border-style: solid;
  border-width: 2px;
}
.border-thick {
  border-width: 3px;
}
.border-top {
  border-top-style: var.$border-style;
  border-top-width: 1px;
}
.border-top-thickish {
  border-top-style: var.$border-style;
  border-top-width: 2px;
}
.border-top-thick {
  border-top-style: var.$border-style;
  border-top-width: 3px;
}
.border-dotted {
  border-style: dotted;
}
.border-dark {
  border-color: var.$black-olive;
}
.rounded {
  border-radius: var.$round;
}
.rounded-big {
  border-radius: var.$round-big;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.inline-block {
  display: inline-block;
}
/* Flexbox
========================================================================== */
.flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-reverse {
  flex-direction: row-reverse;
}
.items-center {
  align-items: center;
}
.justify-end {
  justify-content: flex-end;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.self-start {
  align-self: flex-start;
}

/* =========================
 ** PRIMARY LAYOUT
  ========================= */
.max-width-1 {
  max-width: var.$width9;
}
.max-width-2 {
  max-width: var.$width10;
}
.max-width-3 {
  max-width: var.$width11;
}
.max-width-4 {
  max-width: var.$width12;
}
.container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

main.container,
.main.container {
  padding: 0 1.5rem;
  transition: max-width 0.3s ease-in-out;
  @include var.media(">lgWidth") {
    padding: 0 3rem;
  }
  // @include var.media(">lgWidth") {
  //   padding: 0 4rem;
  // }
  @include var.media(">xlWidth") {
    padding: 0 5rem;
  }
}

main.container.has-margin,
.main.container.has-margin {
  margin-left: 1.2rem;
  margin-right: 1.2rem;
  @include var.media(">medWidth") {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
  }
  @include var.media(">lgWidth") {
    margin-left: 3.5rem;
    margin-right: 3.5rem;
  }
}
main.container[width="fixed"] {
  max-width: 60rem;
}

.row {
  display: flex;
  flex: auto;
  flex-wrap: wrap;
  width: 100%;
  @include var.media(">xlWidth") {
    margin-left: -0px;
    margin-right: -0px;
  }
}
[data-breakpoint="md"] [data-md-width="4"],
[data-breakpoint="lg"] [data-lg-width="4"],
[data-breakpoint="xl"] [data-xl-width="4"],
[data-xl-width="4"] {
  width: calc(100% / 12 * 4);
  max-width: calc(100% / 12 * 4);
  flex: 0 0 auto;
  flex-basis: auto;
  flex-basis: calc(100% / 12 * 4);
}
[data-breakpoint="md"] [data-md-width="8"],
[data-breakpoint="lg"] [data-lg-width="8"],
[data-breakpoint="xl"] [data-xl-width="8"],
[data-xl-width="8"] {
  width: calc(100% / 12 * 8);
  max-width: calc(100% / 12 * 8);
  flex: 0 0 auto;
  flex-basis: auto;
  flex-basis: calc(100% / 12 * 8);
}
@include var.media("<lgWidth", ">medWidth") {
  [data-md-width="10"] {
    width: calc(100% / 12 * 10);
    max-width: calc(100% / 12 * 10);
    flex: 0 0 auto;
    flex-basis: calc(100% / 12 * 10);
  }
  [data-md-width="2"] {
    width: calc(100% / 12 * 2);
    max-width: calc(100% / 12 * 2);
    flex: 0 0 auto;
    flex-basis: calc(100% / 12 * 2);
  }
}

.content-block .column {
  display: flex;
  flex-direction: row;
  word-wrap: break-word;
  border-style: solid;
  position: relative;
  @include var.media(">xlWidth") {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.content-block .column__spacer {
  height: auto;
  min-height: auto;
}

/* =========================
 ** TERTIARY LAYOUT
  ========================= */
.section-title {
  position: relative;
  margin: 60px 0;
  line-height: 15px;
  span {
    font-family: var.$font-monospace;
    font-size: 19px;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    position: relative;
    display: inline-block;
    background: var.$honeydew;
    padding: 0 27px;
    height: 15px;
    border-right: 1px solid var.$black-olive;
    border-left: 1px solid var.$black-olive;
    vertical-align: top;
    line-height: 15px;
  }
}
.section-title::before {
  position: absolute;
  top: 5px;
  right: 0;
  left: 0;
  height: 2px;
  background: var.$black;
  content: "";
}
.section-title::after {
  position: absolute;
  top: 9px;
  right: 0;
  left: 0;
  z-index: -1;
  height: 1px;
  border-bottom: 1px dashed var.$lightgrey;
  content: "";
}
.col-1 {
  width: var.$width1;
}
.col-2 {
  width: var.$width2;
}
.col-3 {
  width: var.$width3;
}
.col-4 {
  width: var(--width4-12);
}
.col-5 {
  width: var(--width5-12);
}
.col-6 {
  width: var(--width6-12);
}
.col-7 {
  width: var(--width7-12);
}
.col-8 {
  width: var(--width8-12);
}
.col-9 {
  width: var.$width9;
}
.col-10 {
  width: var.$width10;
}
.col-11 {
  width: var.$width11;
}
.col-12 {
  width: var.$width12;
}

.width-auto {
  width: auto;
}
.width-full {
  width: 100%;
}
.height-full {
  height: 100%;
}

/* =========================
  HOVER EFFECTS
  ========================= */
a.hover {
  padding: 0 0 0 4px;
  position: relative;
}
a.hover:before {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
  transition: width 0.3s cubic-bezier(0, 0.5, 0.3, 1) 0s,
    opacity 0.3s cubic-bezier(0, 0.5, 0.3, 1) 0s;
  opacity: 0;
}
a.hover:before {
  width: 50%;
  opacity: 1;
  background: var.$black-olive;
}
.postContent a {
  font-family: var.$font-condensed;
  border-bottom: 1px var.$border-style var.$black-olive;
  font-weight: 500;
}

@include var.media(">medWidth") {
  dl,
  ol,
  p,
  ul {
    margin-top: 15px;
  }
}
@include var.media(">medWidth", "<xlWidth") {
  .md-col-1 {
    width: var.$width1;
  }
  .md-col-2 {
    width: var.$width2;
  }
  .md-col-3 {
    width: var.$width3;
  }
  .md-col-4 {
    width: var(--width4-12);
  }
  .md-col-6 {
    width: var(--width5-12);
  }
  .md-col-6 {
    width: var(--width6-12);
  }
  .md-col-7 {
    width: var(--width7-12);
  }
  .md-col-8 {
    width: var(--width8-12);
  }
}

/* *RESPONSIVE*
----------------------------------------------------------------------------------------------------------------------------- */
@include var.media(">lgWidth") {
  [data-lg-width="3"] {
    width: calc(100% / 12 * 3);
    max-width: calc(100% / 12 * 3);
    flex: 0 0 auto;
    flex-basis: calc(100% / 12 * 3);
  }
  [data-lg-width="9"] {
    width: calc(100% / 12 * 9);
    max-width: calc(100% / 12 * 9);
    flex: 0 0 auto;
    flex-basis: calc(100% / 12 * 9);
  }
  .lg-col-1 {
    width: var.$width1;
  }
  .lg-col-2 {
    width: var.$width2;
  }
  .lg-col-3 {
    width: var.$width3;
  }
  .lg-col-4 {
    width: var(--width4-12);
  }
  .lg-col-5 {
    width: var(--width5-12);
  }
  .lg-col-6 {
    width: var(--width6-12);
  }
  .lg-col-7 {
    width: var(--width7-12);
  }
  .lg-col-8 {
    width: var(--width8-12);
  }
  .lg-col-9 {
    width: var.$width9;
  }
  .lg-col-10 {
    width: var.$width10;
  }
  .lg-col-11 {
    width: var.$width11;
  }
  .lg-col-12 {
    width: var.$width12;
  }
  .lg-flex {
    display: flex;
  }
  .lg-flex-reverse {
    flex-direction: row-reverse;
  }
  .lg-m0 {
    margin: var(--space0);
  }
  .lg-mt0 {
    margin-top: var(--space0);
  }
  .lg-mr0 {
    margin-right: var(--space0);
  }
  .lg-mr1 {
    margin-right: var(--space1);
  }
  .lg-mr2 {
    margin-right: var(--space2);
  }
  .lg-mr3 {
    margin-right: var(--space3);
  }
  .lg-mr4 {
    margin-right: var(--space4);
  }
  .lg-mr5 {
    margin-right: var(--space5);
  }
  .lg-mb0 {
    margin-bottom: var(--space0);
  }
  .lg-mb1 {
    margin-bottom: var(--space1);
  }
  .lg-mb2 {
    margin-bottom: var(--space2);
  }
  .lg-mb4 {
    margin-bottom: var(--space4);
  }
  .lg-mb6 {
    margin-bottom: var(--space6);
  }
  .lg-mb8 {
    margin-bottom: var(--space8);
  }
  .lg-ml0 {
    margin-left: var(--space0);
  }
  .lg-ml1 {
    margin-left: var(--space1);
  }
  .lg-ml2 {
    margin-left: var(--space2);
  }
  .lg-ml3 {
    margin-left: var(--space3);
  }
  .lg-ml4 {
    margin-left: var(--space4);
  }
  .lg-mx0 {
    margin-left: var(--space0);
    margin-right: var(--space0);
  }
  .lg-my0 {
    margin-top: var(--space0);
    margin-bottom: var(--space0);
  }
  .lg-p0 {
    padding: var.$space0;
  }
  .lg-p1 {
    padding: var.$space1;
  }
  .lg-p2 {
    padding: var.$space2;
  }
  .lg-p3 {
    padding: var.$space3;
  }
  .lg-mln1 {
    margin-left: calc(var(--space1) * -1);
  }
  .lg-mln2 {
    margin-left: calc(var(--space2) * -1);
  }
  .lg-mln4 {
    margin-left: calc(var(--space4) * -1);
  }
  .lg-mln6 {
    margin-left: calc(var(--space6) * -1);
  }
  .lg-mln8 {
    margin-left: calc(var(--space8) * -1);
  }
  .lg-mrn1 {
    margin-right: calc(var(--space1) * -1);
  }
  .lg-mrn2 {
    margin-right: calc(var(--space2) * -1);
  }
  .lg-mrn4 {
    margin-right: calc(var(--space4) * -1);
  }
  .lg-mrn6 {
    margin-right: calc(var(--space6) * -1);
  }
  .lg-mrn8 {
    margin-right: calc(var(--space8) * -1);
  }
}
@include var.media(">xlWidth") {
  html,
  body {
    font-size: 20px;
  }
  .xl-col-1 {
    width: var.$width1;
  }
  .xl-col-2 {
    width: var.$width2;
  }
  .xl-col-3 {
    width: var.$width3;
  }
  .xl-col-4 {
    width: var(--width4-12);
  }
  .xl-col-5 {
    width: var(--width5-12);
  }
  .xl-col-6 {
    width: var(--width6-12);
  }
  .xl-col-7 {
    width: var(--width7-12);
  }
  .xl-col-8 {
    width: var(--width8-12);
  }
  .xl-col-9 {
    width: var.$width9;
  }
  .xl-col-10 {
    width: var.$width10;
  }
  .xl-col-11 {
    width: var.$width11;
  }
  .xl-col-12 {
    width: var.$width12;
  }
  .xl-mt0 {
    margin-top: var(--space0);
  }
  .xl-ml1 {
    margin-left: var(--space1);
  }
  .xl-ml2 {
    margin-left: var(--space2);
  }
  .xl-ml3 {
    margin-left: var(--space3);
  }
  .xl-ml4 {
    margin-left: var(--space4);
  }
  .xl-mr1 {
    margin-right: var(--space1);
  }
  .xl-mr2 {
    margin-right: var(--space2);
  }
  .xl-mr3 {
    margin-right: var(--space3);
  }
  .xl-mr4 {
    margin-right: var(--space4);
  }
  .xl-mx0 {
    margin-left: var(--space0);
    margin-right: var(--space0);
  }
  .xl-mln1 {
    margin-left: calc(var(--space1) * -1);
  }
  .xl-mln2 {
    margin-left: calc(var(--space2) * -1);
  }
  .xl-mln3 {
    margin-left: calc(var(--space3) * -1);
  }
  .xl-mln4 {
    margin-left: calc(var(--space4) * -1);
  }
  .xl-mln6 {
    margin-left: calc(var(--space6) * -1);
  }
  .xl-mln8 {
    margin-left: calc(var(--space8) * -1);
  }
  .xl-mrn1 {
    margin-right: var.$space1 * -1;
  }
  .xl-mrn2 {
    margin-right: var.$space2 * -1;
  }
  .xl-mrn3 {
    margin-right: var.$space3 * -1;
  }
  .xl-mrn4 {
    margin-right: var.$space4 * -1;
  }
  .xl-mrn5 {
    margin-right: var.$space5 * -1;
  }
  .xl-p2 {
    padding: var(--space2);
  }
}
