/* Root document */
/* =========================
  GLOBAL SETTINGS 
  ========================= */
#__loader {
  background-color: var.$black-olive;
  svg {
    width: 4rem;
    height: auto;
    rect {
      fill: var.$mint;
    }
  }
}

.max-width-1 { max-width: var.$width-1;}
.max-width-2 { max-width: var.$width-2;}
.max-width-3 { max-width: var.$width-3;}
.max-width-4 { max-width: var.$width-4;}
html,
body {
  font-family: var.$font-sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: normal;
  color: var.$black;
  background: var.$honeydew;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  color: black;
  text-decoration: none;
}
.monospace {
  font-family: var.$font-monospace;
}
.sans-serif {
  font-family: var.$font-sans-serif;
}
/* TYPOGRAPHY
  ----------------------------- */
.display {
  font-family: var.$font-condensed;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: 'calt' 0;
}
h1, h2, h3 {
  font-family: var.$font-condensed;
}
h4, h5, h6 {
  font-family: var.$font-sans-serif;
}
h1, h2, h3, h4, h5, h6{
  margin: 0;
  font-weight: normal;
}
dl, ol, p, ul {
  margin: 10px 0 0;
}
/* ==[ Font Size ]== */
h1 {
font-size: 2rem;
font-weight: 700;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 1rem;
}
h5 {
  font-size: 0.875rem;
}
.big {
  font-size: 0.9rem;
}
h1.big, .big h1 {
  font-size: 2.25rem;
}
h2.big, .big h2 {
  font-size: 1.75rem;
}
h3.big, .big h3 {
  font-size: 1.25rem;
}
h4.big, .big h4 {
  font-size: 1rem;
}
h5.big, .big h5 {
  font-size: 0.9rem;
}
.huge { font-size: 1rem;}
.normal {
  font-size: 0.8rem;
}
.small {
  font-size: 11px;
}
.micro {
  font-size: 9px;
}
.medium {
  font-weight: 500;
}
.bold, .strong {
  font-weight: 700;
}
.regular {
  font-weight: normal;
}
.uppercase { text-transform: uppercase; }
/* ==[ Text Align ]== */
.center {
  text-align: center;
}
/* ==[ Line Height ]== */
.line-height-0 {
  line-height: 0;
}
.line-height-1 {
  line-height: 1;
}
.line-height-2 {
  line-height: 1.125;
}
.line-height-3 {
  line-height: 1.25;
}
.line-height-4 {
  line-height: 1.5;
}
.line-height-5 {
  line-height: 1.6;
}
.line-height-6 {
  line-height: 1.8;
}
/* COLOR
  ----------------------------- */
.white { background-color: var.$white;}
.honeydew { background-color: var.$honeydew;}
.offblack { background-color: var.$black-olive; }
/* Margin
========================================================================== */
.mb-half {
  margin-bottom: var.$space-half;
}
.mo { margin: var.$space0; }
.mt0 { margin-top: var.$space0; }
.m1 {
margin: var.$space1;
}
.mt1 {
  margin-top: var.$space1;
}
.mr1 {
  margin-right: var.$space1;
}
.mb1 {
  margin-bottom: var.$space1;
}
.ml1 {
  margin-left: var.$space1;
}
.mx1 {
  margin-left: var.$space1;
  margin-right: var.$space1;
}
.my1 {
  margin-top: var.$space1;
  margin-bottom: var.$space1;
}
.m2 {
  margin: var.$space2;
}
.mt2 {
  margin-top: var.$space2;
}
.mr2 {
  margin-right: var.$space2;
}
.mb2 {
  margin-bottom: var.$space2;
}
.ml2 {
  margin-left: var.$space2;
}
.mx2 {
  margin-left: var.$space2;
  margin-right: var.$space2;
}
.my2 {
  margin-top: var.$space2;
  margin-bottom: var.$space2;
}
.m3 {
  margin: var.$space3;
}
.mb3 {
  margin-bottom: var.$space3;
}
.m4 {
  margin: var.$space4;
}
.mt4 {
  margin-top: var.$space4;
}
.mr4 {
  margin-right: var.$space4;
}
.mb4 {
  margin-bottom: var.$space4;
}
.ml4 {
  margin-left: var.$space4;
}
  .mx4 {
    margin-left: var.$space4;
    margin-right: var.$space4;
  }
  .my4 {
    margin-top: var.$space4;
    margin-bottom: var.$space4;
  }
  .m5 {
    margin: var.$space5;
  }
  .mt5 {
    margin-top: var.$space5;
  }
  .mr5 {
    margin-right: var.$space5;
  }
  .mb5 {
    margin-bottom: var.$space5;
  }
  .ml5 {
    margin-left: var.$space5;
  }
  .mx5 {
    margin-left: var.$space5;
    margin-right: var.$space5;
  }
  .my5 {
    margin-top: var.$space5;
    margin-bottom: var.$space5;
  }
  .mbn1 {
    margin-bottom: var.$space1;
  }
  .mbn2 {
    margin-bottom: var.$space2;
  }
  .mbn3 {
    margin-bottom: var.$space3;
  }
  .mbn4 {
    margin-bottom: var.$space4;
  }
  .mbn5 {
    margin-bottom: var.$space5;
  }
  .mx-auto {
    margin-left: auto;
    margin-right: auto;
  }
/* Position
========================================================================== */
.relative { position: relative }
.absolute { position: absolute }
.fixed { position: fixed }
.static { position: static }
.top-0 { top: 0; }
.bottom-0 { bottom: 0; }
.right-0 { right: 0; }
.left-0 { left: 0; }
.all-0 {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
/* Padding
========================================================================== */
.p0 { padding: var.$space0; }
.pt0 { padding-top: var.$space0; }
.pr0 { padding-right: var.$space0; }
.pb0 { padding-bottom: var.$space0; }
.pl0 { padding-left: var.$space0; }
.px0 { padding-left: var.$space0; padding-right: var.$space0; }
.py0 { padding-top: var.$space0;  padding-bottom: var.$space0; }
.p1 { padding: var.$space1; }
.pt1 { padding-top: var.$space1; }
.pr1 { padding-right: var.$space1; }
.pb1 { padding-bottom: var.$space1; }
.pl1 { padding-left: var.$space1; }
.py1 { padding-top: var.$space1; padding-bottom: var.$space1; }
.px1 { padding-left: var.$space1; padding-right: var.$space1; }

.p2 { padding: var.$space2 }
.pt2 { padding-top: var.$space2 }
.pr2 { padding-right: var.$space2 }
.pb2 { padding-bottom: var.$space2 }
.pl2 { padding-left: var.$space2 }
.py2 { padding-top: var.$space2; padding-bottom: var.$space2 }
.px2 { padding-left: var.$space2; padding-right: var.$space2 }

.p3 { padding: var.$space3; }
.pt3 { padding-top: var.$space3; }
.pr3 { padding-right: var.$space3; }
.pb3 { padding-bottom: var.$space3; }
.pl3 { padding-left: var.$space3; }
.py3 { padding-top: var.$space3; padding-bottom: var.$space3; }
.px3 { padding-left: var.$space3; padding-right: var.$space3; }

.p4 { padding: var.$space4; }
.pt4 { padding-top: var.$space4; }
.pr4 { padding-right: var.$space4; }
.pb4 { padding-bottom: var.$space4; }
.pl4 { padding-left: var.$space4; }
.py4 { padding-top: var.$space4; padding-bottom: var.$space4; }
.px4 { padding-left: var.$space4; padding-right: var.$space4; }

.p5 { padding: var.$space5; }
.pt5 { padding-top: var.$space5; }
.pr5 { padding-right: var.$space5; }
.pb5 { padding-bottom: var.$space5; }
.pl5 { padding-left: var.$space5; }
.py5 { padding-top: var.$space5; padding-bottom: var.$space5; }
.px5 { padding-left: var.$space5; padding-right: var.$space5; }
.rounded {border-radius: var.$round;}
.rounded-big {border-radius: var.$round-big}
.list-style-none { list-style: none; }
.list-style-inherit { list-style-type: inherit; }

/* ==[ Z-index ]== */
.z1 {
  z-index: 1;
}
.z2 {
  z-index: 2;
}
.z3 {
  z-index: 3;
}
.z4 {
  z-index: 4;
}
/* ==[ Border ]== */
.border {
  border-style: solid;
  border-width: 1px;
}
.border-thickish {
  border-style: solid;
  border-width: 2px;
}
.border-thick {
  border-style: solid;
  border-width: 3px;
}
.block { display: block; }
.inline { display: inline; }
.inline-block { display: inline-block; }
/* Flexbox
========================================================================== */
.flex {
  display: flex;
}
.flex-column { flex-direction: column;}
.flex-reverse {
  flex-direction: row-reverse;
}
.items-center {
  align-items: center;
}
.justify-end {
  justify-content: flex-end;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
/* =========================
  TERTIARY LAYOUT
  ========================= */
.section-title {
  position: relative;
  margin: 60px 0;
  line-height: 15px;
  span {
    font-family: var.$font-monospace;
    font-size: 19px;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    position: relative;
    display: inline-block;
    background: var.$honeydew;
    padding: 0 27px;
    height: 15px;
    border-right: 1px solid var.$black-olive;
    border-left: 1px solid var.$black-olive;
    vertical-align: top;
    line-height: 15px;
  }
}
.section-title::before {
  position: absolute;
  top: 5px;
  right: 0;
  left: 0;
  height: 2px;
  background: var.$black;
  content: '';
}
.section-title::after {
  position: absolute;
  top: 9px;
  right: 0;
  left: 0;
  z-index: -1;
  height: 1px;
  border-bottom: 1px dashed var.$lightgrey;
  content: '';
}
.col-1 {width: var.$width1;}
.col-2 {width: var.$width2;}
.col-3 {width: var.$width3;}
.col-4 {width: var.$width4;}
.col-5 {width: var.$width5;}
.col-6 {width: var.$width6;}
.col-7 {width: var.$width7;}
.col-8 {width: var.$width8;}
.col-9 {width: var.$width9;}
.col-10 {width: var.$width10;}
.col-11 {width: var.$width11;}
.col-12 {width: var.$width12;}
.width-full {width: 100%;}
.height-full {height: 100%;}
@include var.media(">maxWidth") {
  body {
    font-size: 20px;
  }
  .lg-col-1 {
    width: var.$width1;
  }
  .lg-col-2 {
    width: var.$width2;
  }
  .lg-col-3 {
    width: var.$width3;
  }
  .lg-col-4 {
    width: var.$width4;
  }
  .lg-col-5 {
    width: var.$width5;
  }
  .lg-col-6 {
    width: var.$width6;
  }
  .lg-col-7 {
    width: var.$width7;
  }
  .lg-col-8 {
    width: var.$width8;
  }
  .lg-col-9 {
    width: var.$width9;
  }
  .lg-col-10 {
    width: var.$width10;
  }
  .lg-col-11 {
    width: var.$width11;
  }
  .lg-col-12 {
    width: var.$width12;
  }
  .lg-mrn1 {
    margin-right: var.$space1*-1;
  }
  .lg-mrn2 {
    margin-right: var.$space2*-1;
  }
  .lg-mrn3 {
    margin-right: var.$space3*-1;
  }
  .lg-mrn4 {
    margin-right: var.$space4*-1;
  }
  .lg-mrn5 {
    margin-right: var.$space5*-1;
  }
}
@include var.media(">medWidth") {
  dl, ol, p, ul {
    margin-top: 15px;
  }
}
@include var.media(">medWidth", "<maxWidth") {
  .md-col-1 { width: var.$width1;}
  .md-col-2 { width: var.$width2;}
  .md-col-3 { width: var.$width3;}
  .md-col-4 { width: var.$width4;}
  .md-col-6 { width: var.$width5;}
  .md-col-6 { width: var.$width6;}
  .md-col-7 { width: var.$width7;}
  .md-col-8 { width: var.$width8;}
}