$border-style: dotted;
$white: white;
$black: black;
$honeydew: #faf9f9;
$black-olive: #403d39;
$mint: #a3e8d3;
$lightgrey: rgb(165, 165, 141);
$space0: 0;
$space-half: 0.25rem;
$space1: 0.5rem;
$space2: 1rem;
$space3: 2rem;
$space4: 4rem;
$space5: 8rem;
$container-width: 1280px;
$font-condensed: "Archivo Narrow", sans-serif;
$font-platform: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
  "Oxygen", "Ubuntu", "Canterell", "Archivo", "Droid Sans", "Helvetica Neue",
  sans-serif;
$font-monospace: "Inconsolata", monospace;
$font-sans-serif: "Archivo", $font-platform;
$white: #fff;
$salmon: #ee8374;
$darkseagreen: #98b28d;
$gunmetal: rgb(41, 50, 65);
$darken1: hsla(0, 0%, 0%, 0.05);
$round: 3px;
$round-big: 6px;
$width-1: 24rem;
$width-2: 32rem;
$width-3: 48rem;
$width-4: 72rem;
$width-vw-2: 74.5vw;
$width1: 8.33333%;
$width2: 16.66667%;
$width3: 25%;
$width4: 33.33333%;
$width5: 41.66667%;
$width6: 50%;
$width7: 58.33333%;
$width8: 66.66667%;
$width9: 75%;
$width10: 83.33333%;
$width11: 91.66667%;
$width12: 100%;
$serif: "IBM Plex Serif", Georgia, serif;

/* Store breakpoints */
$mediaXL: 1200px;
$mediaLarge: 900px;
$mediaMedium: 768px;
$mediaSmall: 480px;

@function translate-media-condition($c) {
  $condMap: (
    "screen": "only screen",
    "print": "only print",
    "retina":
      "(-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-device-pixel-ratio: 1.5), (min-resolution: 120dpi)",
    ">maxWidth": "(min-width: #{$mediaXL + 1})",
    "<maxWidth": "(max-width: #{$mediaXL})",
    ">lgWidth": "(min-width: #{$mediaLarge + 1})",
    "<lgWidth": "(max-width: #{$mediaLarge})",
    ">medWidth": "(min-width: #{$mediaMedium + 1})",
    "<medWidth": "(max-width: #{$mediaMedium})",
    ">smWidth": "(min-width: #{$mediaSmall + 1})",
    "<smWidth": "(max-width: #{$mediaSmall})",
  );
  @return map-get($condMap, $c);
}
// The media mixin
@mixin media($args...) {
  $query: "";
  @each $arg in $args {
    $op: "";
    @if ($query != "") {
      $op: " and ";
    }
    $query: $query + $op + translate-media-condition($arg);
  }
  @media #{$query} {
    @content;
  }
}
