@media only screen and (min-width: 72rem) {
  .articleHero {
    padding-top: 90px;
  }
}
.articleHero {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 100%;
  &__container {
    display: flex;
    @media only screen and (min-width: 72rem) {
      align-items: center;
      flex-direction: row;
      margin-bottom: 0;
      transition: margin-bottom 0.3s ease-out;
      width: 100%;
    }
  }
  &__media {
    @include var.media("screen", ">xlWidth") {
      margin-right: 3.125%;
      padding-top: 0;
      width: 53.125%;
    }
    @include var.media("screen", ">medWidth") {
      padding-top: 105px;
    }
    padding-top: 80px;
    position: relative;
  }
  &__text {
    position: relative;
    margin: 30px auto 60px;
    left: 0;
    opacity: 1;
    transition: left 0.3s ease-out 0.7s, opacity 0.3s ease-out 0.7s;
    width: 87.5%;
    @include var.media("screen", ">medWidth") {
      margin-bottom: 100px;
      margin-top: 40px;
      width: 68.75%;
    }
    @include var.media("screen", ">xlWidth") {
      width: 34.375%;
    }
  }
  &__topic {
    text-transform: capitalize;
    @include var.media("screen", ">xlWidth") {
      font-size: 22px;
      margin-top: 0;
    }
  }
  &__title {
    margin: 15px 0 0;
    letter-spacing: -2px;
    font-size: 60px;
    @include var.media("screen", ">xlWidth") {
      font-size: 80px;
      margin-top: 15px;
    }
  }
  &__date {
    opacity: 1;
    transition: opacity 0.3s ease-out 1s;
  }
  @media only screen and (min-width: 72rem) {
    font-size: 20px;
  }
}
