.container {
  min-height: 140px;
  margin: 0 auto;
  padding-top: 30px;
  margin-top: 50px;
  .row {
    text-align: center;
    padding: 5px;
  }
  .tagline {
    position: relative;
    text-align: center;
    // width: 70%;
    // margin: 0 auto;
  }
  .shadow {
    font-size: 5rem;
    color: var.$white;
    text-transform: uppercase;
    // background-color: $white;
    letter-spacing: 0.1em;
    text-shadow: -1px -1px 2px var.$gunmetal, 3px 3px 2px #343a40;
    text-align: left;
    display: inline-block;
  }
  .textblock {
    width: 100%;
  }
  .scrollIndicator {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .link {
    color: var.$salmon;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    font-weight: bold;
    text-decoration: none;

    &:hover {
      color: var.$darkseagreen;
    }

    &:not(:last-child) {
      padding-right: 30px;
    }
  }
}
.header {
  &__top {
    height: 32px;
    position: fixed;
    top: 64px;
    left: 50%;
    width: calc(100% - 64px);
    transform: translateX(-50%);
    z-index: 300;
    pointer-events: none;
  }
  &__right {
    @include var.media(">lgWidth") {
      right: 0;
      left: auto;
      width: 2.5rem;
      height: 100%;
    }
    position: fixed;
    z-index: 1;
    top: 0;
    background-color: var.$white;
    box-shadow: -3px 0px 3px 1px rgba(0, 0, 0, 0.2);
  }
}
.nav {
  position: absolute;
  top: 0;
  right: 0;
  transform-origin: right top;
  transform: rotate(-90deg) translateY(-140%);
  width: calc(100vh - 20px);
  .link {
    margin-right: 40px;
    @include var.media(">medWidth") {
      font-size: 1.3333rem;
    }
  }
}
