// @import "../styles/global";
// @use "../styles/variables" as g;
.container {
  display: flex;
  border-top: 1px dashed burlywood;
  justify-content: space-between;
  // background: g.$corporate-blue;
  width: 1280px;

    .footer {
      max-width: 960px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    // .socialMedia__link {
    //   background: crimson;
    // }

}