.intro {
  width: 100%;
}
.heading {
  font-size: 6.8333rem;
  line-height: 5.8888rem;
  letter-spacing: -0.1111rem;
}

// @include var.media("screen", "<medWidth") {
//   .intro {
//     font-size: 33px;
//     line-height: 30px;
//   }
// }
