@include var.media("screen", ">maxWidth") {
  .intro {
    width: 100%;
  }
    h2 {
      font-size: 2.4rem;
      line-height: 60px;
    }
}
// @media (min-width: 72rem) {
//   .intro {
//     padding-bottom: 2rem;
//   }
//     h2 {
//       width: 100%;
      
      
//     }
// }
@include var.media("screen", "<bp1Width") {
  .intro {
    font-size: 33px;
    line-height: 30px;
  }
}
// .intro {
//   border-bottom: 1px dashed g.$gunmetal;
// }