.intro {
  width: 100%;
}
.heading {
  font-size: 4.78rem;
  line-height: 4.01rem;
  letter-spacing: -0.1111rem;
  @include var.media(">medWidth") {
    font-size: 5.02rem;
    line-height: 4.2rem;
  }
  @include var.media(">lgWidth") {
    font-size: 5.37rem;
    line-height: 5.1111rem;
  }
  @include var.media(">xlWidth") {
    font-size: 5.8333rem;
    line-height: 5.5555rem;
  }
}
