@media (min-width: 64em) {
  .project {
    display: flex;
    flex-direction: row-reverse;
  }
}
@media (min-width: 64em) {
  .project__info {
    width: 50%;
    padding: 2rem;
    margin-top: 0;
    border-width: 3px;
  }
}
.project__info {
  background-color: white;
  box-shadow: 8px 8px 8px 4px var(--darkgrey);
}
.project__name {
  font-size: 1.37rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}
.project__desc {
  line-height: 1.5;
  margin-bottom: 1rem;
}
.project__featuredImg {
  width: 60%;
  height: auto;
}
